.bg-app {
  background-color: $app-color !important;
}

.bg-app-1 {
  background-color: $app-color-1 !important;
}
.bg-app-2 {
  background-color: $app-color-2 !important;
}
.bg-app-3 {
  background-color: $app-color-3 !important;
}
.bg-app-4 {
  background-color: $app-color-4 !important;
}
.bg-app-5 {
  background-color: $app-color-5 !important;
}
.bg-app-6 {
  background-color: $app-color-6 !important;
}
.bg-app-7 {
  background-color: $app-color-7 !important;
}
.bg-app-8 {
  background-color: $app-color-8 !important;
}
.bg-app-9 {
  background-color: $app-color-9 !important;
}
.bg-app-10 {
  background-color: $app-color-10 !important;
}

.text-app {
  color: $app-color;
}

.text-app-1 {
  color: $app-color-1;
}
.text-app-2 {
  color: $app-color-2;
}
.text-app-3 {
  color: $app-color-3;
}
.text-app-4 {
  color: $app-color-4;
}
.text-app-5 {
  color: $app-color-5;
}
.text-app-6 {
  color: $app-color-6;
}
.text-app-7 {
  color: $app-color-7;
}
.text-app-8 {
  color: $app-color-8;
}
.text-app-9 {
  color: $app-color-9;
}
.text-app-10 {
  color: $app-color-10;
}

.border-app {
  border-color: $app-color;
}

.border-app-1 {
  border-color: $app-color-1;
}
.border-app-2 {
  border-color: $app-color-2;
}
.border-app-3 {
  border-color: $app-color-3;
}
.border-app-4 {
  border-color: $app-color-4;
}
.border-app-5 {
  border-color: $app-color-5;
}
.border-app-6 {
  border-color: $app-color-6;
}
.border-app-7 {
  border-color: $app-color-7;
}
.border-app-8 {
  border-color: $app-color-8;
}
.border-app-9 {
  border-color: $app-color-9;
}
.border-app-10 {
  border-color: $app-color-10;
}

.list-item:hover {
  .q-btn {
    color: $app-color;
  }
}
