.text-xs {
  font-size: 10px;
}

.text-sm {
  font-size: 12px;
}

.text-md {
  font-size: 14px;
}

.text-lg {
  font-size: 16px;
}

.line-height-none {
  line-height: 1;
}

.text-link {
  color: $blue;
  text-decoration: underline;
  cursor: pointer;
}
